body{
    background-image: url(images/tile.jpg);
}
header{
    text-align: center;
    margin-top: 40px;
}
#title{
    height: 90px;
}
#form{
    margin-left: 480px;
    margin-top: 50px;
}
#data-text  {
    margin-top: 0;
    top :195px;
    position: absolute;
}
#date-text{
    margin-top: 0;
    top: 230px;
    position: absolute;
}
#time-text{
    margin-top: 0;
    top: 262px;
    position: absolute;
}
#note-input , #date-input , #time-input{
    margin-left: 75px;
    width: 525px;
}
#set{
    margin-top: 36px;
    margin-left: 470px;
}
#reset{
    margin-top: 36px;
    margin-left: 5px;
}
#note-img{
    height: 350px;
    width: 350px;
    
}
#Notes .new{
    position: relative;
    margin-left: 50px;
    display: inline-block;
    text-align: center;
}

#note-body  {
    width: 290px;
    height: 240px;
    position: relative;
    top: -320px;
    left: 0px;
    overflow: auto;
}
#date-time{
    position: relative;
    top: -310px;
    left: -90px;
}
i{
    position: relative;
    left: 130px;
    cursor: pointer;
}